<html>

<head>

</head>
<body>
    <h1> Estágio Tinnova </h1>
    <form action="/login" method="post">
        <div>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" value="${data.login}" placeholder="coloque o usuario" />

        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" value="${data.password}" placeholder="coloque a sua senha" />

        </div>



        <input type="submit" value="Login" />
    </form>

</body>

</html>